.panel-body {
  width: 35%;
}

@media (max-width: 1920px) {
  .panel-body {
    width: 40%;
  }
}

.panel-body:has(.blog) {
  width: 100%;
}

.panel-body:has(.other) {
  width: 100%;
}

.panel-body button[save] {
  width: 100px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.panel-body button[save] span.mdi {
  padding-top: 1px;
  margin-right: 5px;
}

form {
  margin-bottom: 28px;
}

form.left-label .form-group {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  font-size: 14px;
}

form.left-label .form-group.top-label {
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
}

form.left-label .form-group.top-label label {
  margin-bottom: 10px;
}

form.left-label .form-group label {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 80px;
  margin: 0;
}

form.left-label .form-group input[name='tags'] + .tagsinput input {
  width: 90px !important;
}

form.left-label .form-group input[name='tags'] + .tagsinput span.tag {
  border-radius: 5px;
  font-size: 14px;
}

form.left-label .form-group textarea {
  padding: 5px;
}

form.left-label .form-group textarea[name='description'] {
  height: 100px;
  resize: none;
}

form.left-label .form-group:has(textarea) {
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
}

form.left-label .form-group:has(textarea) .limit-text {
  position: absolute;
  right: 8px;
  bottom: 2px;
  color: var(--color-dark-light);
}

form.left-label .form-group:has(textarea) .limit-text.danger {
  color: var(--color-danger);
}

form.left-label .form-group:has(.js-tags-input), form.left-label .form-group:has(.logo-view), form.left-label .form-group:has(.avatar-view) {
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
}

form.left-label .logo-view {
  border: 1px solid var(--color-secondary);
  height: 80px;
  width: 80px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

form.left-label .logo-view img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

form.left-label .avatar-view {
  border: 1px solid var(--color-secondary);
  height: 120px;
  width: 120px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

form.left-label .avatar-view img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

form.blog {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-gap: 50px;
}

@media (max-width: 1920px) {
  form.blog {
    grid-template-columns: 40% 40%;
  }
}

form.blog .panel-group {
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--color-secondary);
  margin-bottom: 18px;
}

form.blog .panel-group .panel-title {
  font-size: 18px;
  font-weight: 600;
}

form.blog .panel-group:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

form.blog .equally {
  gap: 15px;
}

form.blog .equally > div {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}

form.blog .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  min-height: 260px;
}

@media (max-width: 1920px) {
  form.blog .images {
    gap: 10px;
  }
}

form.blog .images > div {
  position: relative;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  height: 120px;
  width: 200px;
  overflow: hidden;
  cursor: pointer;
}

form.blog .images > div img {
  height: 120px;
  width: 200px;
  object-fit: cover;
}

form.blog .images > div .overlay {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

form.blog .images > div .overlay .mdi {
  font-size: 30px;
  color: var(--color-secondary);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

form.blog .images > div .overlay .mdi:hover {
  color: var(--color-danger);
}

form.blog .images > div:nth-child(7) {
  display: none;
}

form.blog .images > div.image-upload {
  border-style: dashed;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

form.blog .images > div.image-upload .mdi {
  font-size: 55px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

form.blog .images > div.image-upload:hover {
  border-color: var(--color-primary);
}

form.blog .images > div.image-upload:hover .mdi {
  color: var(--color-primary);
}

form.blog .images > div:hover .overlay {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

form.blog .remind {
  margin-bottom: 18px;
}

form.blog .remind > .flex-between-center:first-child {
  margin-bottom: 18px;
}

form.blog .remind ul {
  list-style: none;
  padding: 0;
}

form.blog .remind ul li {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid var(--color-secondary);
  margin-bottom: 10px;
  cursor: move;
  display: grid;
  grid-template-columns: 1fr 30px;
}

form.blog .remind ul li p {
  margin: 0;
  font-size: 14px;
}

form.blog .remind ul li span {
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  transition: color 0.4s;
}

form.blog .remind ul li span:hover {
  color: var(--color-danger);
}

form.blog .remind ul li:last-child {
  margin-bottom: 0px;
}

form.blog .remind .emtpy {
  display: block;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid var(--color-secondary);
  cursor: default;
}

form.blog .remind:has(li) .emtpy {
  display: none;
}

form.email .form-group label {
  width: 90px;
}

form.email button[test] {
  width: 100px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

form.email button[test] span.mdi {
  padding-top: 1px;
  margin-right: 5px;
}

form.staticfile .gitee,
form.staticfile .github,
form.staticfile .minio,
form.staticfile .aliyun,
form.staticfile .tencent,
form.staticfile .huawei,
form.staticfile .kudo {
  display: none;
}

form.staticfile .form-group label {
  width: 90px;
}

form .form-group:has(input[name='commentFrequencySecond']) {
  width: 50%;
}

#other .card {
  margin: 0;
  border: 1px solid var(--color-secondary);
  box-shadow: none;
  overflow: hidden;
}

#other .card-header .mdi-chevron-double-up {
  font-size: 18px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

#other .card-header .mdi-chevron-double-up.hide {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#other .card-header .mdi-chevron-double-up:hover {
  color: var(--color-primary);
}

#other .other {
  margin-bottom: 28px;
}

#other .other > .flex-between-center {
  padding-top: 0;
  cursor: pointer;
}

#other .other > .flex-between-center:first-child {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-secondary);
}

#other .other > .flex-between-center .title {
  font-size: 24px;
  letter-spacing: 2.5px;
  font-weight: 600;
  margin: 0;
}

#other .other > .flex-between-center .mdi-chevron-double-up {
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#other .other > .flex-between-center[data-shrink='1'] .mdi-chevron-double-up {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#other .other .body {
  padding-top: 15px;
}

#other .other .card {
  border-radius: 10px;
}

#other .other .card .card-title {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
}

#other .service .body,
#other .data-clear .body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

#other .service .in-line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

#other .service .in-line:has(.monitor-container) {
  grid-template-columns: 1fr 2fr;
  height: 52px;
}

#other .service .in-line .monitor-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 1920px) {
  #other .service .in-line:has(.monitor-container) {
    grid-template-columns: 1fr;
    height: auto;
  }
}

#other .service button[test] {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

#other .service button[test] .mdi {
  margin-right: 5px;
  padding-top: 1px;
}

#other .data-clear small.text-danger {
  margin-bottom: 8px;
}
