.tb_departments .link {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.tb_departments .link:hover {
  color: var(--color-purple);
}

.modal .tool {
  margin-bottom: 10px;
}

.modal .tool small {
  padding-left: 10px;
}

.modal .group-panel {
  position: relative;
  min-height: 100px;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
}

.modal .group-panel .loading-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal .group-panel .loading-overlay .mdi-loading {
  font-size: 40px;
  color: var(--color-info);
}

.modal .group-panel.loading .loading-overlay {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.modal .group-list {
  margin: 0;
  padding: 0;
}

.modal .group-list > li {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) 50px;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  padding: 8px 10px;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: move;
}

.modal .group-list > li p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.modal .group-list > li > .flex-center-center .mdi {
  display: block;
  font-size: 18px;
  color: var(--color-info);
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.modal .group-list > li > .flex-center-center > div:first-child {
  margin-right: 14px;
}

.modal .group-list > li > .flex-center-center > div:has(.mdi-pencil):hover .mdi {
  color: var(--color-warning);
}

.modal .group-list > li > .flex-center-center > div:has(.mdi-delete):hover .mdi {
  color: var(--color-danger);
}

.modal .group-list > li > .flex-center-center > div .mdi-loading {
  display: none;
}

.modal .group-list > li > .flex-center-center > div.loading .mdi {
  display: none;
}

.modal .group-list > li > .flex-center-center > div.loading .mdi.mdi-loading {
  display: block;
}
