.tb_departments {
  .cell-content {
    max-width: 950px;
    overflow: hidden;

    &:has(a) {
      max-width: 275px;
    }

    @media (max-width: 1920px) {
      max-width: 380px;
    }

    .content {
      max-height: 75px;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0;
    }

    a {
      color: var(--color-purple);
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;

      &:hover {
        color: var(--color-info);
      }

      &::before {
        content: '#';
        padding-right: 5px;
      }
    }
  }
}

#viewDetail-Modal {
  .modal-dialog {
    width: 775px;
    max-width: 775px;
  }

  .modal-body {
    > div {
      margin-bottom: 18px;
    }
  }
}
