.web-statistics {
  width: 1400px;
  padding: 20px 20px 10px 20px;

  .statistics-heander {
    height: 46px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 25px;

    .title,
    .domain {
      font-weight: 600;
      cursor: default;
    }

    .title {
      font-size: 26px;
      margin: 0;
      cursor: default;
    }

    .domain {
      font-size: 20px;
      margin-left: 250px;
      margin-bottom: 0;
      color: #000;
      cursor: pointer;
      -webkit-transition: color 0.3s ease-in-out;
      -moz-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--color-danger);
      }
    }

    .online-user {
      margin-left: 50px;
      margin-bottom: 0;
      font-weight: 600;

      .status {
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: var(--color-danger);
        box-shadow: 0 0 2px 1px var(--color-danger);
        margin-right: 10px;
      }

      .value {
        display: inline-block;
        color: var(--color-danger);
        font-weight: 600;
      }

      .mdi {
        display: none;
      }

      .mdi,
      .value {
        margin: 0 6px;
      }

      &.online {
        .status {
          background-color: var(--color-success);
          box-shadow: 0 0 2px 1px var(--color-success);
        }

        .value {
          color: var(--color-success);
        }
      }

      &.loading {
        .mdi {
          display: inline-block;
        }

        .value {
          display: none;
        }
      }
    }
  }

  .statistics-body {
    padding: 15px 0;
    width: 100%;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
  }

  .statistics {
    padding: 0 50px;
    width: 320px;

    &:first-child {
      margin-left: 100px;
    }

    > div {
      position: relative;
      padding-right: 3px;
    }

    p {
      margin: 0;
      text-align: right;
      letter-spacing: 1.5px;
    }

    .title {
      font-size: 16px;
      font-weight: 500;

      ::before {
        content: '#';
        padding-right: 5px;
      }
    }

    .value {
      font-size: 28px;
      letter-spacing: 2.5px;
      font-weight: 600;

      &.ms {
        &::after {
          content: 'ms';
          padding-left: 5px;
          font-size: 18px;
        }
      }
    }

    .percent {
      height: 26px;
      font-size: 14px;

      span {
        display: inline-block;
        cursor: default;
        font-size: 14px;
        vertical-align: middle;

        &::after {
          display: inline-block;
          padding: 0 5px;
        }
      }

      i {
        display: inline-block;
        width: 18px;
        height: 24px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        line-height: 24px;
      }
    }

    &[pv],
    &[uv],
    &[interactive] {
      .percent {
        span {
          &::after {
            content: '%';
          }
        }

        &.up {
          color: var(--color-danger);

          span {
            &::before {
              content: '+';
              padding-right: 5px;
            }
          }
        }

        &.down {
          color: var(--color-success);

          span {
            &::before {
              content: '-';
            }
          }
        }
      }
    }

    &[elapsed-milliseconds] {
      .percent {
        span {
          &::after {
            content: 'ms';
          }
        }

        &.up {
          color: var(--color-success);

          span {
            &::before {
              content: '-';
              padding-right: 5px;
            }
          }
        }

        &.down {
          color: var(--color-danger);

          span {
            &::before {
              content: '+';
            }
          }
        }
      }
    }

    .loading {
      position: absolute;
      inset: 0;
      background-color: #fff;
      font-size: 30px;
    }
  }
}

.world-map-panel {
  width: 100%;
  padding: 20px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

  --wold-map-height: 800px;
  --world-map-width: 1600px;

  @media (max-width: 1920px) {
    --world-map-width: 1100px;
  }

  .world-map-echart {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 5px;
    overflow: hidden;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;

    > div {
      height: var(--wold-map-height);
      width: var(--world-map-width);
    }
  }

  .world-map-list {
    max-height: -webkit-calc(var(--wold-map-height) + 12px);
    max-height: -moz-calc(var(--wold-map-height) + 12px);
    max-height: calc(var(--wold-map-height) + 12px);
    width: -webkit-calc(100% - var(--world-map-width));
    width: -moz-calc(100% - var(--world-map-width));
    width: calc(100% - var(--world-map-width));
    padding: 0 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .world-header {
    padding-top: 5px;
    border-bottom: 2px dashed var(--color-secondary);
    padding-bottom: 5px;
    margin-bottom: 18px;

    span {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1.5px;

      &:first-child {
        &::before {
          content: '#';
          padding-right: 5px;
        }
      }

      &:last-child {
        float: right;
      }
    }
  }

  .world-map {
    height: 745px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 2px;

    li {
      list-style: none;
      margin-bottom: 8px;

      > div {
        &:first-child {
          -webkit-flex-shrink: 0;
          flex-shrink: 0;
        }
      }

      img {
        height: 26px;
        width: 32px;
        object-fit: fill;
        float: left;
      }

      .country {
        margin-left: 8px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;

        @media (max-width) {
          max-width: 245px;
        }
      }

      .value {
        font-size: 16px;
        font-weight: 600;
      }

      .progress-bar {
        margin-left: 5px;
        border-left: 2px solid rgba(72, 176, 247, 0.35);
        display: inline-block;
        height: 32px;
        width: 80px;
        background-color: rgba(72, 176, 247, 0.35);

        div {
          height: 100%;
          width: 0%;
          max-width: 100%;
          background-color: var(--color-info);
          -webkit-transition: all 1.5s ease-out;
          -moz-transition: all 1.5s ease-out;
          transition: all 1.5s ease-out;
        }
      }
    }
  }
}

.domain-statistics {
  --ul-max-height: 460px;

  > div {
    width: 50%;
    height: 500px;

    &:first-child {
      padding-right: 15px;
    }

    &:last-child {
      padding-left: 15px;
    }
  }

  .ul-body {
    height: var(--ul-max-height);
  }

  ul {
    max-height: var(--ul-max-height);
  }

  li {
    span {
      &:first-child {
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        max-width: 800px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
      }
    }
  }
}

.other-statistics {
  --ul-max-height: 365px;

  > div {
    height: 400px;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1;

    &:nth-child(2) {
      padding: 0 10px;
    }

    &:first-child,
    &:last-child {
      padding: 0 20px;
    }
  }

  .ul-body {
    height: var(--ul-max-height);
  }

  ul {
    max-height: var(--ul-max-height);
  }

  li {
    > div {
      &:first-child {
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
      }
    }

    img {
      height: 25px;
      width: 25px;
      object-fit: fill;
      margin-right: 5px;
    }

    .mdi {
      font-size: 18px;
      margin: 0 3px;
    }
  }
}

.domain-statistics,
.other-statistics {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding: 15px 20px;

  .statistics-header {
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: 2px dashed var(--color-secondary);

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1.5px;

      &:first-child {
        &::before {
          content: '#';
          padding-left: 5px;
        }
      }
    }
  }

  .ul-body {
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0 5px;
    overflow: hidden;
    overflow-y: scroll;
  }

  li {
    list-style: none;
    font-size: 16px;
    padding: 5px;
  }
}
