.container {
  overflow: hidden;
  padding: 0 10px;

  > div {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }

    &.card {
      padding: 20px 15px;
    }
  }

  .name {
    cursor: pointer;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;

    &:hover {
      color: var(--color-purple);
    }
  }

  .avatar {
    img {
      cursor: pointer;
    }
  }

  .btn {
    outline: none;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 1.5px;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    background: var(--color-info);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &:hover {
      color: var(--color-info);
      background: transparent;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 0;
      background: var(--color-info);
      -webkit-transition: 400ms ease all;
      -moz-transition: 400ms ease all;
      transition: 400ms ease all;
    }

    &:after {
      right: inherit;
      top: inherit;
      left: 0;
      bottom: 0;
    }

    &:hover {
      &:before,
      &:after {
        width: 100%;
        -webkit-transition: 800ms ease all;
        -moz-transition: 800ms ease all;
        transition: 800ms ease all;
      }
    }

    .mdi {
      font-size: 12px;
    }
  }

  img {
    &.client {
      cursor: pointer;
    }
  }
}

.remind-panel {
  p {
    &.remind-text {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 18px;
      letter-spacing: 2px;
      -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      -moz-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;

      @media (max-width: 1600px) {
        font-size: 18px;
      }
    }
  }

  .remind {
    padding: 0 10px;
    line-height: 30px;

    @media (max-width: 1600px) {
      font-size: 16px;
      line-height: 26px;
    }

    li {
      letter-spacing: 2px;
      -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      -moz-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    }
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  @-moz-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
}

.action-panel {
  > div {
    &:first-child {
      position: relative;
      height: 145px;
      border-radius: 5px;
      overflow: hidden;
    }

    .input-control {
      resize: none;
      height: 100%;
      border-radius: inherit;
      font-size: 18px;

      @media (max-width: 1600px) {
        font-size: 16px;
      }
    }

    .limit {
      position: absolute;
      margin: 0;
      right: 5px;
      bottom: 10px;
      color: var(--color-dark-light);
    }

    .login-wrap {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      border: inherit;
      background-color: rgba(229, 224, 224, 0.6);
    }
  }

  .action {
    padding-top: 10px;
    text-align: right;

    button {
      > .flex-center-center {
        span {
          margin-right: 5px;
        }
      }
    }
  }

  &:has(.login-wrap) {
    .action {
      display: none;
    }

    .input-control::-webkit-input-placeholder {
      color: transparent;
    }

    .input-control:-moz-placeholder {
      color: transparent;
    }

    .input-control::-moz-placeholder {
      color: transparent;
    }

    .input-control::placeholder {
      color: transparent;
    }

    .limit {
      display: none;
    }
  }
}

.message-panel {
  position: relative;
  min-height: -webkit-calc(100vh - 702px);
  min-height: -moz-calc(100vh - 702px);
  min-height: calc(100vh - 702px);
  border-radius: 8px;

  &:has(.message) {
    .empty {
      display: none;
    }
  }

  .empty {
    min-height: 300px;
    width: 100%;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;

    img {
      height: 150px;
    }

    p {
      margin: 0;
      padding: 10px;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 500;
      cursor: default;
    }
  }

  &:has(.show-loading) {
    .empty {
      display: none;
    }
  }

  .line-loading-preloader {
    border-radius: inherit;
    box-shadow: 0px 0px 5px 3px rgba(139, 137, 137, 0.15);
  }
}

.message {
  padding: 20px 25px;
  margin-bottom: 18px;
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      -webkit-animation-delay: 0.2s * $i;
      -moz-animation-delay: 0.2s * $i;
      animation-delay: 0.2s * $i;
    }
  }

  .violation {
    span {
      font-size: 14px;
      color: var(--color-dark-light);
      background-color: var(--color-secondary);
      border-radius: 5px;
      cursor: default;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .header {
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--color-secondary);

    > div {
      &:last-child {
        font-size: 14px;
        color: var(--color-dark-light);
        cursor: default;

        > span {
          margin-right: 5px;
        }

        img {
          height: 18px;
          object-fit: cover;
        }
      }
    }

    > .flex-start-center {
      div:nth-child(2) {
        padding-left: 10px;
        > span {
          display: block;
        }

        .owner {
          margin-left: 5px;
        }
      }
    }

    $avatar-size: 55px;
    .avatar {
      height: $avatar-size;
      width: $avatar-size;
      border-radius: 50%;
      border: 1px solid var(--color-secondary);
      overflow: hidden;

      img {
        height: $avatar-size;
        width: $avatar-size;
        object-fit: cover;
        cursor: pointer;
      }
    }

    span {
      &.name {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
      }

      &.time {
        padding-top: 3px;
        font-size: 14px;
        color: var(--color-dark-light);
      }
    }
  }

  > .content {
    line-height: 26px;
    letter-spacing: 2px;
    padding: 5px 0;

    p {
      word-break: break-all;
    }

    .violation {
      display: block;
      margin-top: 8px;

      span {
        padding: 6px 10px;
      }
    }
  }

  .comment {
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 8px;
    width: 800px;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

    &:has(li),
    &:has(.input-area[data-reply='1']) {
      background-color: #f7f9fe;
    }

    &:has(li) {
      max-height: 350px;
    }

    &:has(li.scale) {
      max-height: 800px;
    }
  }
}

.comment {
  .body {
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &:has(li) {
      min-height: 110px;
    }

    > ul {
      padding: 0 0 15px 10px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      li {
        padding: 10px 0;
        border-bottom: 1px dashed var(--color-secondary);

        &:last-child {
          border-bottom: 0;
        }

        &.scale {
          -webkit-animation: flip-in-hor-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          -moz-animation: flip-in-hor-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: flip-in-hor-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            -webkit-animation-delay: ($i - 1) * 0.1s;
            -moz-animation-delay: ($i - 1) * 0.1s;
            animation-delay: ($i - 1) * 0.1s;
          }
        }

        @-webkit-keyframes flip-in-hor-bottom {
          0% {
            -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
            opacity: 0;
          }
          100% {
            -webkit-transform: rotateX(0);
            transform: rotateX(0);
            opacity: 1;
          }
        }

        @-moz-keyframes flip-in-hor-bottom {
          0% {
            -webkit-transform: rotateX(80deg);
            -moz-transform: rotateX(80deg);
            transform: rotateX(80deg);
            opacity: 0;
          }
          100% {
            -webkit-transform: rotateX(0);
            -moz-transform: rotateX(0);
            transform: rotateX(0);
            opacity: 1;
          }
        }

        @keyframes flip-in-hor-bottom {
          0% {
            -webkit-transform: rotateX(80deg);
            -moz-transform: rotateX(80deg);
            transform: rotateX(80deg);
            opacity: 0;
          }
          100% {
            -webkit-transform: rotateX(0);
            -moz-transform: rotateX(0);
            transform: rotateX(0);
            opacity: 1;
          }
        }

        > div {
          &.flex-start-center {
            padding-bottom: 10px;
            -webkit-align-items: flex-start;
            -moz-box-align: start;
            align-items: flex-start;

            .avatar {
              -webkit-flex-shrink: 0;
              flex-shrink: 0;
            }

            .owner {
              margin: 0 5px;
            }
          }
        }
      }
    }

    .line-loading-preloader {
      background-color: #f7f9fe;
      box-shadow: none;
    }
  }

  .avatar {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 3px;

    img {
      height: 25px;
      width: 25px;
      object-fit: cover;
    }
  }

  .nickname {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 25px;
    padding: 3px;

    .name {
      &::before {
        content: '';
        padding: 0 5px;
      }
    }
  }

  .owner {
    font-size: 10px;
  }

  .content {
    padding-top: 3px;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 24px;
    word-break: break-word;

    .replied {
      color: var(--color-info);
      padding-right: 8px;
      cursor: pointer;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;

      &:hover {
        color: var(--color-purple);
      }
    }
  }

  .violation {
    span {
      padding: 4px 6px;
    }
  }

  .info {
    span {
      font-size: 14px;
      color: var(--color-dark-light);
      padding: 0 10px;

      &.ipaddress {
        i {
          margin-right: 3px;
        }
      }

      &.reply {
        color: var(--color-info);
        cursor: pointer;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;

        &:hover {
          color: var(--color-purple);
        }
      }
    }

    .client {
      height: 15px;
      object-fit: cover;
    }
  }

  div {
    &.pagination {
      background-color: #f7f9fe;
      li {
        border: 0;

        &.active,
        &:hover {
          background-color: #f7f9fe;
          color: var(--color-primary);
        }
      }
    }
  }

  .pagination {
    font-size: 14px;
  }
}

.reply-panel {
  padding: 10px 0;
  text-align: right;
  overflow: hidden;

  .input-area {
    position: relative;
    display: none;
    text-align: right;
    padding: 0 10px;

    .input-control {
      border-radius: 5px;
      height: 90px;
      width: 100%;
      resize: none;
      margin-bottom: 10px;
    }

    p {
      position: absolute;
      right: 15px;
      bottom: 17px;
      color: var(--color-dark-light);
      font-size: 12px;
    }
  }

  > div:nth-child(2) {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;

    &:has(button[redundancy]) {
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      justify-content: space-between;
      padding-left: 10px;
    }
  }

  .btn {
    margin-right: 10px;
    font-size: 14px;
    padding: 5px 8px;

    &:first-child {
      color: var(--color-dark-light);
      background: var(--color-secondary);

      &:hover {
        color: var(--color-dark-light);
        background: transparent;
      }

      &:before,
      &:after {
        background: var(--color-secondary);
      }
    }

    .mdi {
      font-size: 10px;
    }

    &[hide-reply] {
      display: none;
    }
  }

  &.show {
    .btn {
      &:first-child {
        display: inline-block;
      }
    }
  }
}

div {
  &.pagination {
    background-color: #fff;
    padding: 5px 0;
    display: none;
  }

  &.show {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@-moz-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    -moz-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    -moz-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

.swal2-actions {
  .btn {
    padding: 7px 15px;
    border-radius: 8px;
    border: 1px solid var(--color-secondary);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 16px;

    &.btn-secondary {
      &:hover {
        border-color: var(--color-secondary);
      }
    }

    &.btn-info {
      background-color: var(--color-info);
      color: #fff;

      &:hover {
        border-color: var(--color-info);
      }
    }
  }
}
