.post-setting-panel {
  width: 100%;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.post-setting-panel span:first-child {
  font-size: 18px;
  font-weight: 600;
}

.post-setting-panel span:first-child.switch-text {
  font-size: 12px;
  font-weight: 400;
}

.post-setting-panel .btn {
  width: 80px;
  margin-right: 15px;
}

.post-setting-panel .btn.btn-dark, .post-setting-panel .btn.btn-outline-dark {
  width: 130px;
}

.post-setting-panel .btn:last-child {
  margin: 0;
}

.card-body > div {
  width: 100%;
}

.card-body > div:first-child {
  height: 36px;
  margin-bottom: 10px;
  position: relative;
}

.card-body > div:first-child small {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--color-dark-light);
}

.card-body > div:first-child small.danger {
  color: var(--color-danger);
}

.card-body .cherry-body {
  position: relative;
  height: -webkit-calc(100vh - 210px) !important;
  height: -moz-calc(100vh - 210px) !important;
  height: calc(100vh - 210px) !important;
  border: 1.5px solid var(--color-secondary);
  border-radius: 5px;
  overflow: hidden;
}

.card-modal #setting-Modal .modal-dialog {
  max-width: 550px;
}

.card-modal #setting-Modal .modal-dialog .form-group.flex-center-center img {
  height: 140px;
  width: 240px;
  object-fit: cover;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
}

.card-modal #setting-Modal .modal-dialog .form-group.flex-center-center .icon-placeholder {
  display: none;
  height: 140px;
  width: 240px;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
}

.card-modal #setting-Modal .modal-dialog .form-group.flex-center-center .icon-placeholder i {
  font-size: 75px;
}

.card-modal #setting-Modal .modal-dialog .form-group.flex-center-center.create-icon img {
  display: none;
}

.card-modal #setting-Modal .modal-dialog .form-group.flex-center-center.create-icon .icon-placeholder {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.card-modal #setting-Modal .modal-dialog .form-group.info {
  position: relative;
}

.card-modal #setting-Modal .modal-dialog .form-group.info textarea[name='info'] {
  min-height: 160px;
}

.card-modal #setting-Modal .modal-dialog .form-group.info .max-length {
  position: absolute;
  right: 5px;
  bottom: 4px;
  color: var(--color-dark-light);
}

.card-modal #setting-Modal .modal-dialog .form-group.info .max-length.danger {
  color: var(--color-danger);
}

.card-modal #setting-Modal .modal-dialog .form-group div.tagsinput span.tag {
  background: var(--color-info);
}
