#create-update-Modal {
  .modal-dialog {
    max-width: 650px;
  }

  .content-body {
    position: relative;

    .form-control {
      height: 300px;
      resize: none;
      font-size: 16px;
      color: #000;
    }

    .limit {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 5px;
      color: var(--color-dark-light);
    }
  }
}
