.tb_departments {
  .cell-icon {
    width: 180px;

    @media (max-width: 1920px) {
      width: 140px;
    }

    .flex-center-center {
      width: 100%;
      overflow: hidden;
      border: 1px solid var(--color-secondary);
      border-radius: 4px;

      img {
        height: 100px;
        width: 100%;
        object-fit: cover;
        cursor: pointer;

        @media (max-width: 1920px) {
          height: 80px;
        }
      }
    }
  }

  .cell-name {
    width: 220px;
    p {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }

  .cell-keyword {
    min-width: 100px;
    span {
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#carete-ou-update-Modal {
  .modal-body {
    .icon {
      margin: 0 auto;
      height: 120px;
      width: 160px;
      border-radius: 4px;
      overflow: hidden;

      img {
        height: 120px;
        width: 100%;
        object-fit: cover;
      }

      .icon-placeholder {
        height: 100%;
        width: 100%;
        display: none;

        i {
          font-size: 40px;
        }
      }

      &.create {
        img {
          display: none;
        }

        .icon-placeholder {
          display: -webkit-flex;
          display: -moz-box;
          display: flex;
        }
      }
    }

    #keyword-tags_tag {
      width: 100px !important;
    }
  }
}
