:root {
  --body-color: #f7f9fe;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal .modal-dialog {
  position: relative;
  display: none;
  margin: 220px auto 100px auto;
  min-height: 100px;
  width: 25%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.modal .modal-dialog > div {
  padding: 20px 15px;
  border-bottom: 1px solid var(--color-secondary);
}

.modal .modal-dialog > div:last-child {
  border-bottom: 0;
}

.modal .modal-header {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.modal .modal-header .modal-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
  cursor: default;
}

.modal .modal-header .close .mdi-close {
  font-size: 20px;
  cursor: pointer;
}

.modal .modal-body {
  font-size: 16px;
}

.modal .modal-body .input-control {
  font-size: 16px;
  padding: 8px 10px;
}

.modal .modal-footer {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  gap: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label:first-child span.required {
  color: var(--color-danger);
  padding-right: 3px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-group .input-control {
  margin-top: 6px;
  width: 100%;
}

.form-group.in-line {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.form-group.in-line label:first-child {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.form-group.l-w-80 label:first-child {
  width: 80px;
}

.form-group.l-w-100 label:first-child {
  width: 100px;
}

input.input-control {
  padding: 5px 10px;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  outline: none;
  width: 100%;
  caret-color: var(--color-purple);
}

input:focus {
  border-color: var(--color-purple);
}

input::-webkit-input-placeholder {
  color: var(--color-dark-light);
}

input:-moz-placeholder {
  color: var(--color-dark-light);
}

input::-moz-placeholder {
  color: var(--color-dark-light);
}

input::placeholder {
  color: var(--color-dark-light);
}

textarea.input-control {
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--color-secondary);
  line-height: 26px;
}

textarea::-webkit-input-placeholder {
  color: var(--color-dark-light);
}

textarea:-moz-placeholder {
  color: var(--color-dark-light);
}

textarea::-moz-placeholder {
  color: var(--color-dark-light);
}

textarea::placeholder {
  color: var(--color-dark-light);
}

textarea.unresize {
  resize: none;
}

textarea.m-h-100 {
  min-height: 100px;
}

textarea.m-h-150 {
  min-height: 150px;
}

textarea.m-h-200 {
  min-height: 200px;
}

textarea.m-h-250 {
  min-height: 250px;
}

textarea:active, textarea:focus {
  border-color: var(--color-purple);
}

span.owner {
  font-size: 12px;
  padding: 2px 6px;
  color: #fff;
  background-color: var(--color-danger);
  border-radius: 4px;
  cursor: default;
}
