.cherry-markdown-container {
  height: 100%;
  position: relative;
}

.cherry-markdown-container .cherry {
  background: #fff !important;
  box-shadow: 0 0 0 #f6f8fb;
}

.cherry-markdown-container .cherry .cherry-toolbar {
  border-bottom: 2px solid var(--color-secondary);
}

.cherry-markdown-container .cherry .cherry-editor .CodeMirror-lines {
  padding: 15px;
}

.cherry-markdown-container .cherry .cherry-previewer {
  background-color: #fff;
  border-left: 0;
  padding-right: 25px;
}

.cherry-markdown-container .cherry .cherry-previewer img {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--color-secondary);
  margin: 10px;
}

.cherry-markdown-container .cherry .cherry-previewer p:has(img:only-child) {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  overflow: hidden;
}

.cherry-markdown-container .cherry .cherry-previewer ul.cherry-list__default li {
  padding-left: 10px;
}

.cherry-markdown-container .cherry .cherry-previewer ul.cherry-list__default li::marker {
  content: '>';
  color: var(--color-danger);
}

.cherry-markdown-container .cherry .cherry-previewer.cherry-preview--full {
  overflow-x: hidden;
}

.cherry-markdown-container .cherry .cherry-markdown h1,
.cherry-markdown-container .cherry .cherry-markdown h2,
.cherry-markdown-container .cherry .cherry-markdown h3,
.cherry-markdown-container .cherry .cherry-markdown h4,
.cherry-markdown-container .cherry .cherry-markdown h5,
.cherry-markdown-container .cherry .cherry-markdown h6 {
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  transition: color 0.35s;
  cursor: default;
}

.cherry-markdown-container .cherry .cherry-markdown h1 code,
.cherry-markdown-container .cherry .cherry-markdown h2 code,
.cherry-markdown-container .cherry .cherry-markdown h3 code,
.cherry-markdown-container .cherry .cherry-markdown h4 code,
.cherry-markdown-container .cherry .cherry-markdown h5 code,
.cherry-markdown-container .cherry .cherry-markdown h6 code,
.cherry-markdown-container .cherry .cherry-markdown p code {
  margin: 0 5px;
  padding: 5px 8px !important;
  color: #fff;
  background-color: #585759 !important;
}

@media (max-width: 1600px) {
  .cherry-markdown-container .cherry .cherry-markdown h1 code,
  .cherry-markdown-container .cherry .cherry-markdown h2 code,
  .cherry-markdown-container .cherry .cherry-markdown h3 code,
  .cherry-markdown-container .cherry .cherry-markdown h4 code,
  .cherry-markdown-container .cherry .cherry-markdown h5 code,
  .cherry-markdown-container .cherry .cherry-markdown h6 code,
  .cherry-markdown-container .cherry .cherry-markdown p code {
    border-radius: 0.2em;
    font-size: 16px;
  }
}

.cherry-markdown-container .cherry .cherry-markdown p,
.cherry-markdown-container .cherry .cherry-markdown pre,
.cherry-markdown-container .cherry .cherry-markdown blockquote,
.cherry-markdown-container .cherry .cherry-markdown table {
  margin: 15px auto;
}

.cherry-markdown-container .cherry .cherry-markdown div[data-type='codeBlock'] > pre code[class*='language-'] .code-line {
  padding-left: 2em !important;
}

.cherry-markdown-container .cherry .cherry-markdown div[data-type='codeBlock'] .cherry-copy-code-block {
  position: relative;
  width: 25px;
  text-align: center;
  height: 25px;
  border: 1px solid #ddd;
  cursor: pointer;
  float: right;
  right: 10px;
  top: 22px;
  color: #f6f8fb;
  border-radius: 5px;
  margin-left: -27px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

.cherry-markdown-container .cherry .cherry-markdown div[data-type='codeBlock'] .cherry-copy-code-block .ch-icon {
  vertical-align: middle;
  cursor: pointer;
}

.cherry-markdown-container .cherry .cherry-markdown div[data-type='codeBlock']:hover .cherry-copy-code-block {
  display: block !important;
  cursor: pointer;
}

.cherry-markdown-container .cherry .cherry-markdown div[data-type='codeBlock']:hover .cherry-copy-code-block .ch-icon-ok {
  color: #3582fb;
}

.cherry-markdown-container .cherry .cherry-markdown .menu-click-color {
  color: #926dde;
}

.cherry-markdown-container .cherry .cherry-markdown h1 > a.anchor,
.cherry-markdown-container .cherry .cherry-markdown h2 > a.anchor,
.cherry-markdown-container .cherry .cherry-markdown h3 > a.anchor,
.cherry-markdown-container .cherry .cherry-markdown h4 > a.anchor,
.cherry-markdown-container .cherry .cherry-markdown h5 > a.anchor,
.cherry-markdown-container .cherry .cherry-markdown h6 > a.anchor {
  display: none;
}

.cherry-markdown-container .cherry .cherry-markdown a:hover {
  color: #926dde;
}

.cherry-markdown-container .cherry .cherry-markdown a[href],
.cherry-markdown-container .cherry .cherry-markdown a[data-nav-link] {
  cursor: pointer;
}

.cherry-markdown-container .cherry .cherry-markdown h1 {
  margin: 0;
  padding: 25px 0 5px 0;
  line-height: 40px;
}

@media (max-width: 1600px) {
  .cherry-markdown-container .cherry .cherry-markdown h1 {
    font-size: 1.5em;
  }
}

.cherry-markdown-container .cherry .cherry-markdown h1:before {
  content: '[';
  margin-right: 8px;
  color: var(--color-danger) !important;
}

.cherry-markdown-container .cherry .cherry-markdown h1:after {
  content: ']';
  margin-left: 8px;
  color: var(--color-danger) !important;
}

.cherry-markdown-container .cherry .cherry-markdown h2 {
  margin: 0;
  line-height: 32px;
  padding: 25px 0 5px 0;
}

@media (max-width: 1600px) {
  .cherry-markdown-container .cherry .cherry-markdown h2 {
    font-size: 1.5em;
  }
}

.cherry-markdown-container .cherry .cherry-markdown h2:before {
  content: '#';
  margin-right: 8px;
  color: var(--color-danger) !important;
}

.cherry-markdown-container .cherry .cherry-markdown h3 {
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  padding: 15px 0 5px 0;
  line-height: 28px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.cherry-markdown-container .cherry .cherry-markdown h3:before {
  content: '$';
  margin-right: 8px;
  color: var(--color-danger) !important;
}

.cherry-markdown-container .cherry .cherry-markdown h4,
.cherry-markdown-container .cherry .cherry-markdown h5,
.cherry-markdown-container .cherry .cherry-markdown h6 {
  padding: 10px;
  line-height: 26px;
  border-radius: 5px;
  font-weight: 600;
}

.cherry-markdown-container .cherry .cherry-markdown h4 {
  background-color: #c8e6fb !important;
}

.cherry-markdown-container .cherry .cherry-markdown h5 {
  background-color: #fff6b5 !important;
}

.cherry-markdown-container .cherry .cherry-markdown h6 {
  background-color: var(--color-danger) !important;
  color: #fff;
}

.cherry-markdown-container .cherry .cherry-markdown h4 > strong,
.cherry-markdown-container .cherry .cherry-markdown h5 > strong,
.cherry-markdown-container .cherry .cherry-markdown h6 > strong {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.cherry-markdown-container .cherry .cherry-table {
  width: 100%;
}

.cherry-markdown-container .cherry .cherry-table th {
  padding: 5px 10px !important;
}

.cherry-markdown-container .cherry .cherry-table td {
  padding: 5px 10px !important;
}

.cherry-markdown-container .cherry .cherry-panel .cherry-panel--title {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 2px 10px 10px;
}

.cherry-markdown-container .cherry .cherry-panel .cherry-panel--title.cherry-panel--title__not-empty::before {
  margin: 0 5px;
}

.cherry-markdown-container .cherry .cherry-panel .cherry-panel--body {
  color: var(--color-dark) !important;
  background-color: #fff !important;
}

.cherry-markdown-container .cherry .cherry-panel__primary .cherry-panel--title {
  background-color: var(--color-info);
}

.cherry-markdown-container .cherry .cherry-panel__success .cherry-panel--title {
  background-color: #15c377;
}

.cherry-markdown-container .cherry p del {
  color: var(--color-danger);
  padding: 0 10px;
}

.cherry-markdown-container-border {
  border: 2px solid var(--color-secondary) !important;
}
