:root {
  --left-width: 950px;
}

@media (max-width: 1600px) {
  :root {
    --left-width: 730px;
  }
}

.post-header {
  position: relative;
  color: #fff;
  margin-bottom: 30px;
  cursor: default;
  overflow: hidden;
}

.post-header .post-bg {
  position: absolute;
  inset: 0;
  background-image: -webkit-linear-gradient(right, #cc6aa5, #3e91cc, #2dcca7);
  background-image: -moz-linear-gradient(right, #cc6aa5, #3e91cc, #2dcca7);
  background-image: linear-gradient(270deg, #cc6aa5, #3e91cc, #2dcca7);
  background-size: 600% 100%;
  -webkit-animation: bg-pan-left 8s both;
  -moz-animation: bg-pan-left 8s both;
  animation: bg-pan-left 8s both;
}

.post-header .flex-center-start {
  z-index: 10;
  height: 260px;
  width: var(--page-header-width);
  margin: 0 auto;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .post-header .flex-center-start {
    height: 220px;
  }
}

.post-header .flex-center-start h1 {
  position: relative;
  font-weight: 600;
  margin-bottom: 16px;
  -webkit-filter: contrast(30);
  filter: contrast(30);
  cursor: default;
}

.post-header .flex-center-start h1.text-showup {
  -webkit-animation: title-show 1s 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -moz-animation: title-show 1s 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: title-show 1s 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes title-show {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    -moz-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-moz-keyframes title-show {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    -moz-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes title-show {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    -moz-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.post-header .flex-center-start .sub-text {
  padding: 10px 0;
  color: #fff;
  z-index: inherit;
  font-weight: 500;
}

.post-header .flex-center-start .sub-text p {
  margin-bottom: 5px;
  font-size: 16px;
  -webkit-animation: focus-in-contract-bck 1s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: focus-in-contract-bck 1s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.post-header .flex-center-start .sub-text p .emial {
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.post-header .flex-center-start .sub-text p .emial:hover {
  color: var(--color-danger);
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-moz-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    -moz-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    -moz-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    -moz-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    -moz-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.post-container {
  width: var(--page-header-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: var(--left-width) -webkit-calc(var(--page-header-width) - var(--left-width));
  grid-template-columns: var(--left-width) -moz-calc(var(--page-header-width) - var(--left-width));
  grid-template-columns: var(--left-width) calc(var(--page-header-width) - var(--left-width));
}

.post-container .card {
  border-radius: 15px;
  padding: 15px 10px;
  box-shadow: none;
}

.post-container .main-container {
  padding-right: 10px;
}

.main-container .post-body {
  border: 1px solid var(--color-secondary);
}

.main-container .post-body .post-content {
  min-height: 500px;
}

.main-container .post-body .post-content .focus-topic {
  -webkit-animation: bounce-top 0.9s both;
  -moz-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
    color: var(--color-danger);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    -moz-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
    color: #000;
  }
}

@-moz-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
    color: var(--color-danger);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    -moz-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
    color: #000;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
    color: var(--color-danger);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    -moz-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
    color: #000;
  }
}

.main-container .post-body .post-inve {
  padding: 12px 10px;
}

.main-container .copyright {
  margin-top: 15px;
  position: relative;
  background: #2b2b2b;
  padding: 10px 30px;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 1600px) {
  .main-container .copyright {
    margin: 0 10px;
  }
}

.main-container .copyright::before {
  font-family: fantasy;
  content: '!';
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 18px;
  color: #ff7979;
  height: 32px;
  width: 32px;
  text-align: center;
  background: #ffffff;
  line-height: 34px;
  border-radius: 5px;
}

.main-container .copyright::after {
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #2b2b2b;
  position: absolute;
  top: -8px;
  left: 48%;
}

.main-container .copyright .copyright-body,
.main-container .copyright .content-body {
  padding: 20px 0 10px 0;
  cursor: default;
  font-weight: 500;
}

.main-container .copyright .copyright-body .title {
  text-align: center;
  letter-spacing: 5.5px;
  font-size: 20px;
}

.main-container .copyright .content-body .content {
  font-size: 16px;
}

@media (max-width: 1960px) {
  .main-container .copyright .content-body .content {
    font-size: 14px;
  }
}

.main-container .copyright .content-body .content p {
  margin-bottom: 10px;
  letter-spacing: 2px;
  line-height: 24px;
}

@media (max-width: 1960px) {
  .main-container .copyright .content-body .content p {
    line-height: 20px;
    margin-bottom: 6px;
  }
}

.main-container .copyright .content-body .content p .height-light {
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.main-container .copyright .content-body .content p .height-light:hover {
  color: var(--color-danger);
}

.main-container .copyright .content-body .notice {
  padding-top: 20px;
}

.main-container .copyright .content-body .notice p {
  margin-bottom: 5px;
}

.main-container .copyright .content-body .notice p:first-child span {
  color: var(--color-danger);
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.main-container .copyright .content-body .notice p:first-child span:hover {
  color: var(--color-success);
}

.main-container .copyright .content-body .notice p:last-child {
  margin-bottom: 0;
}

.main-container .post-inve .left .reward {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main-container .post-inve .left .reward > span {
  font-size: 20px;
}

.main-container .post-inve .left .reward:hover {
  border-color: var(--color-danger);
  background-color: var(--color-danger);
  color: #fff;
}

.main-container .post-inve .left .tags {
  padding-left: 10px;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

@media (max-width: 1920px) {
  .main-container .post-inve .left .tags {
    max-width: 400px;
  }
}

@media (max-width: 1600px) {
  .main-container .post-inve .left .tags {
    max-width: 350px;
  }
}

.main-container .post-inve .left .tags span {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-container .post-inve .left .tags span::before {
  content: '#';
  padding-right: 2px;
}

.main-container .post-inve .left .tags span::after {
  content: ',';
  padding-right: 2px;
}

.main-container .post-inve .left .tags span:hover {
  color: var(--color-danger);
}

.main-container .post-inve .left .tags span:last-child::after {
  content: '';
  padding: 0;
}

.main-container .post-inve .right {
  cursor: default;
}

.main-container .post-inve .right .mdi {
  font-size: 14px;
  margin-right: 5px;
}

.main-container .post-inve .right .mdi.mdi-heart {
  color: var(--color-danger);
}

.main-container .post-inve .right .mdi-camera-timer {
  margin-left: 15px;
}

.main-container .prev-next {
  padding: 0;
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.main-container .prev-next > a {
  height: 250px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.main-container .prev-next > a.card {
  padding: 0;
}

.main-container .prev-next > a .card-box {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.main-container .prev-next > a .card-box .icon {
  position: absolute;
  border-radius: inherit;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.main-container .prev-next > a .card-box .wrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
}

.main-container .prev-next > a .card-box .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: calc(100% - 150px);
  height: -webkit-calc(100% - 150px);
  height: -moz-calc(100% - 150px);
  height: calc(100% - 150px);
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 3;
}

.main-container .prev-next > a .card-box .frame > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-container .prev-next > a .card-box .frame > div p {
  font-size: 24px;
  letter-spacing: 2px;
  padding: 10px 20px;
  background-color: rgba(48, 47, 47, 0.6);
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-container .prev-next > a .card-box .frame > div > span {
  position: absolute;
  top: 0;
  display: none;
  font-size: 18px;
  color: #000;
  padding: 4px 3px;
}

.main-container .prev-next > a .card-box .frame > div span.previous, .main-container .prev-next > a .card-box .frame > div span.next {
  font-weight: 600;
  letter-spacing: 2px;
}

.main-container .prev-next > a .card-box .frame > div span.previous {
  left: 0;
  background: var(--main-linear-gradient) no-repeat left bottom;
  background-size: 68% 3px;
}

.main-container .prev-next > a .card-box .frame > div span.next {
  right: 0;
  background: var(--main-linear-gradient) no-repeat right bottom;
  background-size: 68% 3px;
}

.main-container .prev-next > a .card-box:hover {
  opacity: 0.8;
}

.main-container .prev-next > a .card-box:hover .icon {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.main-container .prev-next > a .card-box:hover .wrap {
  backdrop-filter: blur(3.5px);
}

.main-container .prev-next > a .card-box:hover .frame {
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  width: calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.45);
}

.main-container .prev-next > a .card-box:hover .frame > div p {
  color: var(--color-purple);
  padding: 0;
  background-color: transparent;
  border-radius: 0px;
  color: #000;
}

.main-container .prev-next > a .card-box:hover .frame > div > span {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.bar-container {
  padding-left: 10px;
}

.bar-container .bar {
  position: sticky;
  top: 85px;
}

.bar-container .bar .card {
  margin-bottom: 18px;
}

.bar-container .bar .card:last-child {
  margin-bottom: 0;
}

.bar-container .bar .author-container {
  padding: 35px 0 30px 0;
}

.bar-container .bar .author-container > .flex-start-center {
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  cursor: default;
}

.bar-container .bar .author-container .avatar {
  --avatar-size: 90px;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
  border: 3px solid var(--color-danger);
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
  -moz-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  -moz-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}

@media (max-width: 1600px) {
  .bar-container .bar .author-container .avatar {
    --avatar-size: 60px;
  }
}

.bar-container .bar .author-container .avatar img {
  height: var(--avatar-size);
  width: var(--avatar-size);
  object-fit: cover;
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@-moz-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -moz-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -moz-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    transform: translatey(0px);
  }
}

.bar-container .bar .author-container .name {
  margin: 0;
  padding: 10px 0;
  font-size: 26px;
  font-weight: 500;
}

@media (max-width: 1600px) {
  .bar-container .bar .author-container .name {
    font-size: 20px;
  }
}

.bar-container .bar .author-container .links {
  padding: 10px 0;
  gap: 5px;
}

.bar-container .bar .author-container .links img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1600px) {
  .bar-container .bar .author-container .links img {
    height: 35px;
    width: 35px;
  }
}

.bar-container .bar .author-container .links img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.bar-container .bar .author-container .statistics {
  width: 100%;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (max-width: 1600px) {
  .bar-container .bar .author-container .statistics {
    grid-gap: 5px;
  }
}

.bar-container .bar .author-container .statistics > div {
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  row-gap: 6px;
}

.bar-container .bar .author-container .statistics > div span.value {
  display: inline-block;
}

.bar-container .bar .author-container .statistics > div span.mdi {
  display: none;
  font-size: 24px;
}

.bar-container .bar .author-container .statistics > div.loading span.value {
  display: none;
}

.bar-container .bar .author-container .statistics > div.loading span.mdi {
  display: inline-block;
}

.bar-container .bar .author-container .statistics span:first-child {
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 1600px) {
  .bar-container .bar .author-container .statistics span:first-child {
    font-size: 20px;
  }
}

.bar-container .bar .author-container .statistics span:last-child {
  font-size: 16px;
}

@media (max-width: 1600px) {
  .bar-container .bar .author-container .statistics span:last-child {
    font-size: 14px;
  }
}

.bar-container .bar .topic-container .topic-header {
  font-size: 20px;
  background: var(--main-linear-gradient) no-repeat left bottom;
  background-size: 38% 3px;
  cursor: default;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

@media (max-width: 1600px) {
  .bar-container .bar .topic-container .topic-header {
    font-size: 16px;
  }
}

.bar-container .bar .topic-container .topic-header .mdi {
  font-size: 18px;
}

@media (max-width: 1600px) {
  .bar-container .bar .topic-container .topic-header .mdi {
    font-size: 12px;
  }
}

.bar-container .bar .topic-container .topic-header .el-icon {
  margin-right: 10px;
}

.bar-container .bar .topic-container .topic-header span {
  letter-spacing: 3px;
}

.bar-container .bar .topic-container .topics {
  list-style: none;
  padding: 10px 10px;
}

@media (max-width: 1600px) {
  .bar-container .bar .topic-container .topics {
    font-size: 16px;
  }
}

.bar-container .bar .topic-container .topics li {
  margin-bottom: 8px;
  padding: 0 8px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
}

.bar-container .bar .topic-container .topics li.first::before {
  content: '[';
  color: var(--color-danger);
  padding-right: 5px;
}

.bar-container .bar .topic-container .topics li.first::after {
  content: ']';
  color: var(--color-danger);
  padding-left: 5px;
}

.bar-container .bar .topic-container .topics li.second {
  padding-left: 25px;
}

.bar-container .bar .topic-container .topics li.second::before {
  content: '#';
  color: var(--color-danger);
  padding-right: 5px;
}

.bar-container .bar .topic-container .topics li:hover {
  color: var(--color-danger);
}

.bar-container .bar .tool-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bar-container .bar .tool-container .mdi-btn {
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #000;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  font-size: 12px;
  height: 60px;
  width: 60px;
}

.bar-container .bar .tool-container .mdi-btn .mdi {
  font-size: 22px;
}

.bar-container .bar .tool-container .mdi-btn:hover {
  color: var(--color-danger);
  border-color: var(--color-secondary);
}

div.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
