.tb_departments {
  .cell-content {
    overflow: hidden;

    p {
      margin: 0;
    }

    .route {
      min-width: 300px;
      max-width: 1220px;
    }
  }

  .second {
    font-weight: 500;
    cursor: default;
  }
}

#viewDetail-Modal {
  .modal-dialog {
    max-width: 775px;
  }

  .modal-body {
    > div {
      margin-bottom: 18px;
      max-height: 1000px;
      overflow-y: auto;
      padding-right: 5px;

      @media (max-width: 1920px) {
        max-height: 795px;
      }
    }
  }

  .hide {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 10px;

    li {
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      -moz-box-align: start;
      align-items: flex-start;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .key {
        -webkit-flex-shrink: 0;
        flex-shrink: 0;

        &::after {
          content: ':';
          padding: 0 5px;
        }
      }

      p {
        padding: 0;
      }
    }
  }
}
